<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Kipkip"
        android:theme="@style/Theme.WuyiKebiao"
        tools:targetApi="31">

        <!-- 启动页（LAUNCHER） -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 主界面（原 MainActivity） -->
        <activity
            android:name=".MainActivity"
            android:exported="false" />

        <activity
            android:name=".WeekViewActivity"
            android:exported="false" />

    </application>

</manifest>